/* INÍCIO DO MAIN */
body{ font-family:"Trebuchet MS", Arial, Tahoma; text-align: center; }

#main { min-width: 980px; max-width: 1200px; /*width: 1200px;*/ background: #FFF; margin: 0 auto; height: 1000px; position: relative; top: 100px; }


/* INÍCIO MENU */
#menuContainer { border:0; width:200px; height:500px; float:left; top:120px }

.menu { 
	font-family: Arial, sans-serif;
	font-size: 12px;
	list-style:none;
	width: 180px;
	padding: 0 0 0 5px;
}
.menu .categories {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
	display: block;
	padding: 11px 38px 11px 0;
	text-decoration: none;
	text-align:left;
	border-bottom: 1px #999999  solid;
	border-width:1px;
	font-weight:bold;
	margin-bottom: 15px;
}

#main #menuContainer .menu li a {
	display: block;
	color: #333;
	padding: 11px 10px 11px 0;
	text-decoration: none;
	text-align:left;
	width: 180px;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

#main #menuContainer .menu li a:hover { 
	font-weight:bold;
	color: #FF8900;
	background-color: #fbfbf9;
}

.anuncio_texto{
	display: block;
	color: #333;
	text-decoration: none;
	text-align:left;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

	#divp {
		width: 1000px;
		margin: 0 auto;
	}
	
	#divf {
		width: 280px;
		height: 290px;
		outline: 1px solid #999;
		float: left;
		margin: 15px 15px;			
	}
